* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "minecraft", sans-serif;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 1200px) {
    section, .section-container {
        height: fit-content;
        margin: 0 5%;
        display: block;
    }
}
